<!DOCTYPE html>
<html lang = "en">
<head>

</head>
<body style = "font-size:20px; padding: 50px;">
	<% include partials/_header %>
	<form>
	      <label> LongUrl : </label>
	        <label id = "longUrl"></label><br>
	      <label> ShortUrl : </label>
	      <label id = "shortUrl"></label>
	</form>
</body>
</html>